 /* CSS BRODER STYLE */
 /* solid , doteed, dashed , Double,groove,Ridge,Inset,Outset,None,Mix*/

 /* CSS BRODER SHORTHAND */
 /* broder-width:2px;
 broder-style:solid;
 broder-color:red;
 */

 /* CSS BRODER SIDE */
 /* BRODER-TOP
 BRODER-RIGHT
 BRODER-BOTTOM
 BRODER-LEFT */




 h1{
    /* border-width:4px;
    border-style: solid dotted dashed inset;
    border-color: red; */
  /* shortcut */
  /* border: 3px double red; */
  border-bottom:3px solid red ;
  border-top: 2px solid green;
  border-right: 2px solid black;
  border-bottom: 2px solid pink;
  
  
 }



