/* CSS Resize Values

· horizontal

· vertical

· both

· none */



.box{

height: 600px;
width: 600px;
background-color: yellow;
/* resize: vertical; */
/* resize: horizontal; */
resize: both;
overflow: auto;

}
textarea{
    resize: none;
}